[Unit]
Description=PlanetLab NodeManager
After=libvirtd.target

[Service]
EnvironmentFile=/etc/sysconfig/nodemanager
Type=forking
PIDFile=/var/run/nodemanager.pid
ExecStart=/usr/bin/env python /usr/share/NodeManager/nodemanager.py -d $OPTIONS

[Install]
WantedBy=multi-user.target
