Source: nodemanager
Maintainer: Thierry Parmentelat <Thierry.Parmentelat@inria.fr>
Section: misc
Priority: optional
Standards-Version: 3.9.2
# hopefully we do not need manifold at build-time 
Build-Depends: devscripts, debhelper (>=7.0.50~), debconf, dpatch, python-setuptools, make
X-Python-Version: >= 2.7

Package: nodemanager-lib
Architecture: any
# xxx sliceimage-%{slicefamily} not mentioned here yet
Depends: python, python-curl, gnupg, pyplnet >= 4.3, plnode-utils
Description: Generic nodemanager framework

Package: nodemanager-lxc
Architecture: any
# xxx lxc-sliceimage not mentioned here yet
Depends: libvirt, libvirt-python, openvswitch, python-inotify, nodemanager-lib, 
Description: Nodemanager variant for lxc-containers

